body {
    padding-top: 50px;
    background: #f4f1e0;
}
.carousel-inner img { margin: auto;}

#myCarousel {background: #000;}

.hbg {text-transform: uppercase;}

.rmor {text-align: right;}

.artimg {background: #000 no-repeat center;
      height: 100px;
      width: 100%;
      background-size: 100%;}

.artdesc {text-align: justify;}

.homebox {background: #333;}

footer {color: #fff;}